#page-header {
  height: 9.75rem;
  background-color: var(--primary-cyan);
}

.bg-image-wrapper {
  background-image: url('../../images/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 9.75rem;
}
